/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */
/* Icons 
Github - Icon made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
Linkedin - Icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
Twitter - Icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
Mail - Icon made by <a href="https://www.flaticon.com/authors/chanut" title="Chanut">Chanut</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
Images
APP - Photo by NordWood Themes on Unsplash, Code - Photo by Fabian Grohs on Unsplash */

*,
html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background: #f4f7f5;
}

main {
  padding-top: 73px;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
ul,
li,
a {
  font-weight: 400;
  font-style: normal;
  color: #313235;
  font-family: "IBM Plex Mono", monospace;
}

a {
  cursor: pointer;
}

h2 {
  font-weight: 500;
  color: #0051ff;
  line-height: 1.6em;
  font-size: 1.5rem;
  padding: 0% 0% 5% 5%;
}

h3 {
  font-weight: 500;
  margin-top: 3em;
  padding: 2% 5%;
  color: #313235;
}

p,
figure,
blockquote,
figcaption {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.8em;
  padding: 2% 5%;
  color: #313235;
}
.section-2,
.section-3,
.section-4,
.section-5 {
  padding: 150px 0;
}

.section-1,
.section-3,
.section-4 {
  background: #f4f7f5;
  font-size: 14px;
}

.section-5 {
  background-color: #e2e8f0;
}

.btn {
  display: block;
  text-decoration: none;
  font-weight: 500;
  padding-top: 1.5rem;
  color: #313235;
  font-size: 1rem;
}
.img-container {
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  line-height: 1.5;
  background-size: cover;
  height: 30vh;
  position: absolute;
  left: 0;
  right: 0;
}

/* navigations styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 200;
  background: #f4f7f5;
  height: 73px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0px -1px 8px #192750;
          box-shadow: 0px -1px 8px #192750;
}

header .inner-header {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  height: 100%;
}

.logo-container {
  width: 90px;
}

.logo-container,
#hamburger {
  z-index: 10;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#hamburger {
  font-size: 2.5rem;
  color: #020202;
  cursor: pointer;
}

.box {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  width: 100%;
  height: 50vh;
  list-style: none;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translateY(-127%);
      -ms-transform: translateY(-127%);
          transform: translateY(-127%);
  background: #f4f7f5;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  -o-transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.box-active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.box li {
  width: 25%;
}

.box li a {
  color: #313235;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 3px;
  display: inline-block;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
}

/* section 1 */
.section-1 {
  height: calc(100vh - 73px);
  background: #f4f7f5;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.split-container {
  background: #0051ff;
  padding: 0 5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.split-container h1 {
  color: #f4f7f5;
  font-weight: 600;
}

h1 span {
  display: block;
  line-height: 3;
  padding: 0 0 0 1rem;
  margin-left: -1rem;
}

h1 span:nth-child(2) {
  font-weight: 100;
  background: #020202;
  margin-left: 0;
}

.intro-wrapper {
  background: #f4f7f5;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.inner-intro-wrapper {
  line-height: 1.7;
  font-size: 0.9rem;
}

.intro-wrapper p {
  padding: 0;
}

.intro-wrapper p {
  padding: 0 5%;
}

.intro-wrapper a {
  padding: 1.5rem 0 5% 5%;
}

.btn i {
  margin-left: 5px;
  font-size: 1rem;
}
/* END section-1 */


/* section-2 */
.section-2 {
  background: #e2e8f0;
}

.section-2 h2 {
  color: #0051ff;
  font-size: 1.5rem;
  margin-top: 0;
}

.card-container {
  background: #e2e8f0;
  padding-top: 4rem;
  margin-top: 30vh;
}

.card {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.card #devices,
#apps,
#assignment,
#explore,
#people_alt,
#verified {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #3c445a;
  padding: 0 5%;
}

.card h3 {
  margin: 0;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
}

.card p {
  margin-bottom: 1em;
  padding-top: 0px;
  margin: 0px;
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
}
/* END section-2 */


/* section-3 */
.section-3 h2 {
  margin-top: 0;
}

.client-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.client {
  width: 30%;
  margin-bottom: 5%;
}

blockquote {
  font-style: italic;
}

figure {
  margin-top: 3em;
}

figure blockquote {
  margin-bottom: 1em;
  margin-top: 0;
  text-align: center;
}

blockquote {
  font-family: Georgia, serif;
  position: relative;
}

blockquote::after {
  content: "\201C";
  font-size: 82px;
  font-style: normal;
  position: absolute;
  top: 120%;
  left: 46%;
  color: #0051ff;
}

figcaption {
  margin-top: 50px;
}

figcaption {
  margin-bottom: 1.2em;
  text-align: center;
}

cite {
  font-style: normal;
}

.author {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.company {
  color: #0051ff;
}
/* END section-3 */


/* section-4 */
.section-4 {
  background: #f4f7f5;
  padding-top: 0px;
}

.contributions {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.8rem;
  line-height: 1.7;
}

.aboutus-container {
  margin-top: 30vh;
}
.container-2 .img-container {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#b7d2ef8c), to(#b7d2ef8c)),
    url(/img/code.jpg);
  background-image: -o-linear-gradient(bottom, #b7d2ef8c, #b7d2ef8c),
    url(/img/code.jpg);
  background-image: linear-gradient(0deg, #b7d2ef8c, #b7d2ef8c),
    url(/img/code.jpg);
}

.section-4 .img-container {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#b7d2ef96), to(#b7d2ef96)),
    url(/img/app.jpg);
  background-image: -o-linear-gradient(bottom, #b7d2ef96, #b7d2ef96),
    url(/img/app.jpg);
  background-image: linear-gradient(0deg, #b7d2ef96, #b7d2ef96),
    url(/img/app.jpg);
}
.aboutus-intro {
  padding-top: 4rem;
}

.social-media img {
  width: 7%;
  cursor: pointer;
}

.about p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about div a {
  margin-right: 20px;
}

.section-4 span a {
  font-weight: 700;
  color: #0051ff;
}
.about .work-title {
  font-size: 0.9rem;
  padding-bottom: 20px;
  position: relative;
  font-family: "IBM Plex Mono", monospace;
}
.work-title::after {
  content: "";
  position: absolute;
  background: #0051ff;
  width: 30%;
  height: 8px;
  bottom: 0;
  left: 5%;
}

.about-info {
  padding-top: 10%;
}

.about {
  margin-top: 10vh;
  clear: both;
}

.profile-img {
  width: 50%;
  margin: auto;
}

.profile-img img {
  width: 100%;
  line-height: 1.5;
  border-radius: 50%;
  margin: auto;
}

.about-info h3 {
  margin: 0;
  font-size: 1.3rem;
  padding-top: 20px;
}

.social-media {
  padding: 2% 5%;
}
/* END section-4 */

/* section-5 */
.section-5 h2 {
  margin: 0;
  color: #0051ff;
}

.contact {
  padding-bottom: 10%;
}

.contact-info {
  padding-bottom: 30px;
}

.contact-info p {
  color: #020202;
}

.contact-info p:nth-child(2) {
  margin-top: 15px;
}

.contact-info a:hover {
  color: #0051ff;
}

.map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  width: 90%;
  margin: auto;
  border: 2px solid grey;
}

.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: 0px;
}
/* END section-5 */

/* footer */
footer {
  background: #f4f7f5;
  color: #313235;
  text-align: center;
  padding: 10% 0;
}

.footer-icons ul li {
  list-style: none;
  text-align: center;
  display: inline;
}

.footer-icons ul li a {
  text-decoration: none;
}

.footer-icons img {
  width: 7%;
  margin-right: 20px;
  display: inline-block;
}

footer p {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.7rem;
}
/* END footer */